[project]
	description = A collector and agent for Go runtime stats
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/napsy
[access "refs/for/refs/*"]
	read = group user/napsy
	push = group user/napsy
	label-Code-Review = -2..+2 group user/napsy
	label-Verified = -1..+1 group user/napsy
	rebase = group user/napsy
	removeReviewer = group user/napsy
	submit = group user/napsy
[access "refs/heads/*"]
	read = group user/napsy
	create = group user/napsy
	push = +force group user/napsy
	pushMerge = group user/napsy
[access "refs/tags/*"]
	push = group user/napsy
	push = +force group user/napsy
